@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);


body {
    background: #484848;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700italic');


a {
    color: #f2f2f2;
    text-decoration: none;
}

a:hover {
    color: #5c5cd6;
    text-decoration: none;
}
li{
    color: red;
}

/* end of infromation collection*/
/*#navbar_title{
    font-size:20px;
}*/